@charset "utf-8";

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
 
}
ul,li,ol{
    list-style: none;
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    
}
header{
    width: 100%;
    height: 100px;
    background-color: #ba2b31;
    position: fixed;
    z-index: 100;
}

.top{
    width:1200px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    margin:0 auto;
  
}
.logo{
    width: 200px;
    
}
.logo img{
    width: 200px;
}
.nav1{
 width: 600px;
 

}
.menu{
    width: 700px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
   
    
}
.menu >li{
    width: 200px;
   line-height: 30px;
   position: relative;
  
}

.nav2{
    width: 150px;
    padding-left: 80px;
}
.menu2{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.nav1 a, .nav2 a{
    color:white;
    font-weight: bold;
    font-size: 18px;
}
.sub{
   background-color: rgba(0, 0, 0, 0.685);
   position: absolute;
   top: 65.5px;
   padding:0px 10px 0px 10px;
   padding-top: 20px;
    display: none;
   text-align: left;
 
}
.sub a{
    font-size:14px;
  
}


#banner{
    width: 100%;
   
}
#banner .banner_img{
  max-width:1920px;
    height: 1000px;
    background: url("../main_img/slide_banner2.jpg") no-repeat center;
    background-position: center;
    background-size: cover;
    margin:0 auto;
    display: flex;
    align-items:center;
    justify-content: space-evenly;

}
#banner .banner_text{
   
    font-size: 35px;
    font-weight: bold;
    color:#fff;
   margin:-200px 780px 0px 0px ;
   text-shadow: 0px 5px 0px 5px black;
  
}
#banner .more{
    width: 150px;
    height: 35px;
    border:none;
    background-color: #ba2b31;
    color:#fff;
    cursor:pointer;
    font-size: 18px;
    transition: 0.5s ease;
    border-radius: 10px;
  
}
#banner .more:hover{
    background-color: #b60009;
    box-shadow: 1px 2px 15px  black;
}

#section1{
    width: 100%;
  

}
#section1 .brand{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1200px;
    height: 500px;
    margin:0 auto;
    margin-bottom: 50px;
}
#section1 .brand_text{
    width: 800px;
}
#section1 .line1{
    width: 400px;
    border-bottom: 2px solid #ba2b31;
    margin-left: 60%;
    display: inline-block;
  
}
#section1 .in{
    font-size: 16px;
    color:rgb(124, 124, 124);
    line-height: 23px;
    font-weight:600;
}
#section1 .in2{
    font-size: 14px;
    color:rgb(124, 124, 124);
    line-height: 30px;  
}
#section1 .meet {
background: url("../main_img/raw_meat.jpg")no-repeat center;
background-size: cover;
background-position: center;
width: 400px;
height: 380px;
 border-radius: 1000px;
 z-index: -1;
}

#section1 .delivery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 500px;
    margin:0 auto;
}

#section1 .delivery_img{
    background:url("../main_img/delivery.jpg")no-repeat;
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 2px 2px 15px black;
}
#section1 .line2{
    width: 300px;
    border-bottom: 2px solid #ba2b31;
    margin:150px 0px 0px 450px;
    display: inline-block;
  
}
#section1 .delivery_in{
    font-size: 16px;
    color:rgb(124, 124, 124);
    line-height: 30px;
 
}
#section1 .delivery_button{
    width: 150px;
    height: 35px;
    border:none;
    background-color: #ba2b31;
    color:#fff;
    cursor:pointer;
    font-size: 18px;
    transition: 0.5s ease;
    border-radius: 10px;
}
#section1 .delivery_button:hover{
    background-color: #b60009;
    box-shadow: 1px 2px 15px  black;
}

#section2{
    width: 100%;
    height: 1000px;
    margin-top:100px;
}
#section2 .review{
    width: 100%;
    height: 600px;
    background-color: bisque;
    display: flex;
    
}
#section2 .review_img{
    background: url("../main_img/cutting.jpg")no-repeat;
    background-position: center;
    background-size: cover;
    width: 50%;
    
}
#section2 .line3{
    width: 400px;
    border-bottom: 2px solid #ba2b31;
 
   
}
#section2 .review_text{
    background:url("../main_img/review_background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    padding:80px 60px;
    color:white;
    text-shadow: 0px 5px 0px 5px black;
   
}



#section2 .review_button{
    width: 150px;
    height: 35px;
    border:none;
    background-color: #ba2b31;
    color:#fff;
    cursor:pointer;
    font-size: 18px;
    transition: 0.5s ease;
    border-radius: 10px;
    margin:200px 0 0 0px;
}
#section2 .review_button:hover{
    background-color: #b60009;
    box-shadow: 1px 2px 15px  black;
}
#section2 .review_title{
    font-size: 50px;
}

  #section2 .review_slide{
      display: inline-block;
      position: relative;
      width: 100%;
    
      font-size: 23px;
  }
  #section2 .review_slide p{position: absolute; width: 100%; top:-30;}
  #section2 .review_slide p:not(:first-child){display: none;}

  #section2 .review_good{
    font-size: 25px;
  }
  
 