@charset "utf-8";

@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'SF_HambakSnow';
    margin:0;
    padding:0;
    box-sizing: border-box;
 
}
ul,li,ol{
    list-style: none;
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    
}
header{
    width: 100%;
    height: 100px;
    background-color: #ba2b31;
    position: fixed;
    z-index: 100;
}

.top{
    width:1200px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    margin:0 auto;
  
}
.logo{
    width: 200px;
    
}
.logo img{
    width: 200px;
}
.nav1{
 width: 600px;
 

}
.menu{
    width: 700px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
   
    
}
.menu >li{
    width: 200px;
   line-height: 30px;
   position: relative;
  
}

.nav2{
    width: 150px;
    padding-left: 80px;
}
.menu2{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.nav1 a, .nav2 a{
    color:white;
    font-weight: bold;
    font-size: 18px;
}
.sub{
   background-color: rgba(0, 0, 0, 0.685);
   position: absolute;
   top: 65.5px;
   padding:0px 10px 0px 10px;
   padding-top: 20px;
    display: none;
   text-align: left;
 
}
.sub a{
    font-size:14px;
  
}


#banner{
    width: 100%;
   
}
#banner .banner_img{
  max-width:1920px;
    height: 1000px;
    background: url("../main_img/slide_banner2.jpg") no-repeat center;
    background-position: center;
    background-size: cover;
    margin:0 auto;
    display: flex;
    align-items:center;
    justify-content: space-evenly;

}
#banner .banner_text{
   
    font-size: 35px;
    font-weight: bold;
    color:#fff;
   margin:-200px 780px 0px 0px ;
   text-shadow: 0px 5px 0px 5px black;
  
}
#banner .more{
    width: 150px;
    height: 35px;
    border:none;
    background-color: #ba2b31;
    color:#fff;
    cursor:pointer;
    font-size: 18px;
    transition: 0.5s ease;
    border-radius: 10px;
  
}
#banner .more:hover{
    background-color: #b60009;
    box-shadow: 1px 2px 15px  black;
}

#section1{
    width: 100%;
  

}
#section1 .brand{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1200px;
    height: 500px;
    margin:0 auto;
    margin-bottom: 50px;
}
#section1 .brand_text{
    width: 800px;
}
#section1 .line1{
    width: 400px;
    border-bottom: 2px solid #ba2b31;
    margin-left: 60%;
    display: inline-block;
  
}
#section1 .in{
    font-size: 16px;
    color:rgb(124, 124, 124);
    line-height: 23px;
    font-weight:600;
}
#section1 .in2{
    font-size: 14px;
    color:rgb(124, 124, 124);
    line-height: 30px;  
}
#section1 .meet {
background: url("../main_img/raw_meat.jpg")no-repeat center;
background-size: cover;
background-position: center;
width: 400px;
height: 380px;
 border-radius: 1000px;
 z-index: -1;
}

#section1 .delivery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 500px;
    margin:0 auto;
}

#section1 .delivery_img{
    background:url("../main_img/delivery.jpg")no-repeat;
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 2px 2px 15px black;
}
#section1 .line2{
    width: 300px;
    border-bottom: 2px solid #ba2b31;
    margin:150px 0px 0px 450px;
    display: inline-block;
  
}
#section1 .delivery_in{
    font-size: 16px;
    color:rgb(124, 124, 124);
    line-height: 30px;
 
}
#section1 .delivery_button{
    width: 150px;
    height: 35px;
    border:none;
    background-color: #ba2b31;
    color:#fff;
    cursor:pointer;
    font-size: 18px;
    transition: 0.5s ease;
    border-radius: 10px;
}
#section1 .delivery_button:hover{
    background-color: #b60009;
    box-shadow: 1px 2px 15px  black;
}

#section2{
    width: 100%;
    height: 600px;
    margin-top:100px;
}
#section2 .review{
    width: 100%;
    height: 600px;
    background-color: bisque;
    display: flex;
    
}
#section2 .review_img{
    background: url("../main_img/cutting.jpg")no-repeat;
    background-position: center;
    background-size: cover;
    width: 50%;
    
}
#section2 .line3{
    width: 400px;
    border-bottom: 2px solid #ba2b31;
 
   
}
#section2 .review_text{
    background:url("../main_img/review_background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    padding:80px 60px;
    color:white;
    text-shadow: 0px 5px 0px 5px black;
   
}



#section2 .review_button{
    width: 150px;
    height: 35px;
    border:none;
    background-color: #ba2b31;
    color:#fff;
    cursor:pointer;
    font-size: 18px;
    transition: 0.5s ease;
    border-radius: 10px;
    margin:200px 0 0 0px;
}
#section2 .review_button:hover{
    background-color: #b60009;
    box-shadow: 1px 2px 15px  black;
}
#section2 .review_title{
    font-size: 50px;
}

  #section2 .review_slide{
      display: inline-block;
      position: relative;
      width: 100%;
    
      font-size: 23px;
  }
  #section2 .review_slide p{position: absolute; width: 100%; top:-30;}
  #section2 .review_slide p:not(:first-child){display: none;}

  #section2 .review_good{
    font-size: 25px;
  }
  
 #section3{
     width:100%;
     height: 1300px;
 }
 #section3 .lunch{
     margin:0 auto;
     width: 1200px;
     height: 500px;
     display: flex;
    justify-content: center;
    padding-top:100px;
   
  
 }

 #section3 .lunch_text{
     text-align: right;
     padding:0px 30px 0px 0px;
 }
 #section3 .lunch_title{
     font-size: 35px;
 }
 #section3 .lunch_in{
     font-size: 16px;
     line-height: 30px;
     color:rgb(124, 124, 124);
 }
#section3 .lunch_button{
    width: 150px;
    height: 35px;
    border:none;
    background-color: #ba2b31;
    color:#fff;
    cursor:pointer;
    font-size: 18px;
    transition: 0.5s ease;
    border-radius: 10px;
}
#section3 .lunch_button:hover{
    background-color: #b60009;
    box-shadow: 1px 2px 15px  black;
}
#section3 .lunch_line{
    width: 200px;
    border-bottom: 2px solid #ba2b31;
    margin-left:70%
}
#section3 .lunch_img{
    width: 450px;
    height: 400px;
    padding:0px 30px;
}
#section3 .lunch_img img{
    width: 100%;
    border-radius: 1000px;
}
#section3 .wine{
    margin:0 auto;
    width: 1200px;
    height: 500px;
    display: flex;
   justify-content: center;
   padding-top:100px;
   justify-content: space-evenly;
   
}
#section3 .wine_img{
    background: url("../main_img/wine.jpg")no-repeat center;
    background-position: center;
    background-size: cover;
    box-shadow: 2px 2px 15px black;
    border-radius: 20px;
    position: relative;
    width: 800px;
    height: 408px;
}
#section3 .wine_text{
   
    padding-left:30px
}

#section3 .wine_title{
    font-size: 35px;
}
#section3 .wine_in{
    font-size: 16px;
    line-height: 30px;
    color:rgb(124, 124, 124);
}
#section3 .wine_button{
    width: 150px;
    height: 35px;
    border:none;
    background-color: #ba2b31;
    color:#fff;
    cursor:pointer;
    font-size: 18px;
    transition: 0.5s ease;
    border-radius: 10px;
}
#section3 .wine_button:hover{
    background-color: #b60009;
    box-shadow: 1px 2px 15px  black;
}
#section3 .wine_line{
    width: 550px;
    border-bottom: 2px solid #ba2b31;

    display: inline-block;
   margin-top:40%;
   margin-left: 80%;
    
}

#section4{
    width: 100%;
    height: 1000px;
    background-color:#f9f9f9;
   
}
#section4 .steak_fade{
    width: 1200px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
  
}
#section4 .steak_menu{
    width: 310px;
    height: 540px;
    background-color: black;
    color:white;    
    margin-top:10%;
}

   
#section4 .steak_title{
    margin:0;
}
#section4 .steak_line{
    border-bottom: 2px solid #ba2b31;

    width: 60%;
    margin-top: 5%;
   margin-left:5%;
   margin-bottom:20%;
  
   
}


#section4 .steak_in1, .steak_in2,.steak_in3,.steak_in4{
    margin-left:5%;
    margin-bottom: 10%;
    letter-spacing: 5px;
    cursor:pointer
}

#section4 .steak_ho:hover{
   color: #ba2b31
}
#section4 .steak_in_line{
  border-bottom: 2px solid #ba2b31;
   width: 40%;
   margin-top: 3%;
}
#section4 .logo_black{
    width: 310px;
}
#section4 .logo_black img{
    width: 100%;
}


#section4 .steak_type{
    width: 650px;
    height: 780px;
    background-color: #fff;
    margin-top: 20%;
   
    overflow: hidden;

  
}
#section4 .kinds{
    overflow: hidden;
}
#section4 .steak_tbone_img{
    background: url("../main_img/t_bone.jpg")no-repeat;
    background-position: center;
    background-size: cover;
  width: 600px;
    height: 500px;
   margin:0 auto;
   margin-top: 20px;

}
#section4 .tbone_text{
    padding:0px 25px;
}
#section4 .tbone_title{
    margin:0;
    margin-top: 5%;
    margin-bottom: 2%;
}
#section4 .tbone_line{
    border-bottom: 2px solid #ba2b31;
    margin-bottom: 2%;
    width: 50%;
}
#section4 .tbone_in{
    color: rgb(124, 124, 124);
    line-height: 20px;
}
#section4 .steak_tomahawk{
    display: none;
}

#section4 .steak_tomahawk_img{
    background: url("../main_img/tomahawk.jpg")no-repeat;
    background-position: center;
    background-size: cover;
  width: 600px;
    height: 500px;
   margin:0 auto;
   margin-top: 20px;

}
#section4 .steak_blacklabel{
    display: none;
}
#section4 .steak_blacklabel_img{
    background: url("../main_img/black_label.jpg")no-repeat;
    background-position: center;
    background-size: cover;
  width: 600px;
    height: 500px;
   margin:0 auto;
   margin-top: 20px;
   overflow: hidden;

}
#section4 .steak_fa{
    display: none;
}
#section4 .steak_fa_img{
    background: url("../main_img/steak_fa.jpg")no-repeat;
    background-position: center;
    background-size: cover;
  width: 600px;
    height: 500px;
   margin:0 auto;
   margin-top: 20px;
   overflow: hidden;
}

#section5{
    width: 100%;
    height: 1000px;
    background-color: antiquewhite;
}
#section5 .chef_title{margin:0 auto;text-align: center; font-size: 50px;}
#section5 .chef_seat{
    width: 1200px;
    height: 600px;
    margin:0 auto;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
#section5 .chef{
    width:270px;
    height: 270px;
    background-color: aqua;
   
}
#section5 .chef_img1{
    background: url("../main_img/chef1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 270px;
  
}
#section5 .chef_img2{
    background: url("../main_img/chef2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 270px;
    
}
#section5 .chef_img3{
    background: url("../main_img/chef3.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 270px;
  
}

#section5 .chef_text{
    background: url("../main_img/review_background.jpg")no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    letter-spacing: 3px;
   
    position: relative;
}
#section5 .chef_hover{
    position: absolute;
  
 
  width: 270px;
    height: 270px;
 
}
#section5 .chef_hover:hover{
    background-color: rgba(255, 255, 255, 0.473);
  
   width: 270px;
    

}
#section5 .chef_in{ color:white;margin:0;}