@charset "utf-8";

@media  (max-width:768px){
    header{
        width: 100%;
        height: auto;
    }
    
    .top{
        width:100%;
        height: 100px;
        display: inline;
    }
   
    .nav1{
    display: none;
    }
    .nav2{
       display: none;
    }
    .nav3 a{
        color:white;
        font-weight: bold;
        font-size:18px;
    }
    .sub3 a{font-size: 15px;}
    .nav3{display:none; text-align: center;}
    .ham{font-size: 40px; color:white;cursor: pointer; padding-right: 3%; display: block;}
    .ham_logo{width:100%;display: flex; justify-content: space-between;align-items: center;}
    .menu3{
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column wrap;
        margin-bottom: 3%;
    }
    .menu3 >li{margin-bottom: 3%;}
    .sub3{display:none; background: black; line-height: 30px;}
    .sub3 a:hover{color:#ba2b31;transition: ease 0.3s;}
   
    #banner{
        width: 100vw;
        height: auto;
      
    }
    #banner .banner_img{
      width:100vw;
        height:46vh;
        background: url("../main_img/slide_banner2.jpg") no-repeat center;
        background-position:center;
        background-size:contain;
        margin:0 auto;
        position: relative;
      
    }
    #banner .banner_text{
       
     font-size: 13px;
      margin:-20px 120px 0px 0px ;

       
    }
    #banner .more{
        width: 80px;
        height: 20px;
        border:none;
        background-color: #ba2b31;
        color:#fff;
        cursor:pointer;
        font-size: 8px;
        transition: 0.5s ease;
        border-radius: 10px;
      
    }
    #section1{
        width: 100%;
        height: auto;
    }
    #section1 .title{ margin-top: 15%;  padding:0% 7%;}
    #section1 .brand{
        width: 100%;
        height: auto;
        display: flex;
      
        flex-flow: column;
    }
    #section1 .line1{
        width: 80%;
        border-bottom: 2px solid #ba2b31;
        margin:0 auto;
        margin-left: 10%;
    }
    #section1 .title{text-align: center;}
    #section1 .in{
       text-align: center;
    }
    #section1 .in2{
        text-align: center;
    }
    #section1 .brand_text{
        width:100%;
    }
 
    
    #section1 .in{
        padding:0% 7%;
    }
    #section1 .in2{
        padding:0% 7%;
    }
    #section1 .meet {
    width:80vw;
    height: 38vh;
    
    margin-bottom: 15%;
    }
    
    #section1 .delivery{ 
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column-reverse;
       
    }
    
    #section1 .delivery_img{
        width: 80%;
        height:30vh;
        margin-top: 3%;
       
    }
    #section1 .line2{display: none;}
    #section1 .line3{
        width: 80%;
        border-bottom: 2px solid #ba2b31;
        margin:0 auto;
        margin-left: 10%;
        display: inline-block;
       
    }
    #section1 .delivery_title{text-align: center;}
    #section1 .delivery_in{ text-align: center;}
    #section1 .delivery_button{margin:0% 35%;}

    #section2{
        width: 100%;
        height:auto;
     
    }
    #section2 .review{
        width: 100%;
        height:auto;
       
    }
    #section2 .review_img{
        width: 50vw;
        height: 60vh;
        
    }
    #section2 .line3{
        width:70%;
        border-bottom: 2px solid #ba2b31;
     
       
    }
    #section2 .review_text{
        background:url("../main_img/review_background.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        width: 50vw;
        height:60vh;
        padding:80px 60px;
        color:white;
        text-shadow: 0px 5px 0px 5px black;
       
    }
    
    
    
    #section2 .review_button{
        margin-top:20vh;
    }
   
    }
    #section2 .review_title{
        font-size: 40px;
    }
    
      #section2 .review_slide{
          display: inline-block;
          position: relative;
          width: 100%;
        
          font-size: 15px;
      }
      #section2 .review_slide p{position: absolute; width: 100%;height: auto;}
      #section2 .review_slide p:not(:first-child){display: none;}
    
      #section2 .review_good{
        font-size: 25px;
      }
}