@charset "utf-8";
@media (min-width:769px ) and (max-width:1199px){
    header{
        width: 100%;
        height: auto;
        background-color: #ba2b31;
        position: fixed;
        z-index: 100;
    }
    
    .top{
        width:100%;
        height: 100px;
        display: inline;
    }
   
    .nav1{
    display: none;
    }
    .nav2{
       display: none;
    }
    .nav3 a{
        color:white;
        font-weight: bold;
        font-size:18px;
    }
    .sub3 a{font-size: 15px;}
    .nav3{display:none; text-align: center;}
    .ham{font-size: 40px; color:white;cursor: pointer; padding-right: 3%;}
    .ham_logo{width:100%;display: flex; justify-content: space-between;align-items: center;}
    .menu3{
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column wrap;
        margin-bottom: 3%;
    }
    .menu3 >li{margin-bottom: 3%;}
    .sub3{display:none; background: black; line-height: 30px;}
    .sub3 a:hover{color:#ba2b31;transition: ease 0.3s;}
    
    #banner{
        width: 100%;
        height: auto;
    }
    #banner .banner_img{
      width:100%;
        height:800px;
        background: url("../main_img/slide_banner2.jpg") no-repeat center;
        background-position: center;
        background-size: cover;
        margin:0 auto;
        display: flex;
        align-items:center;
        justify-content: space-evenly;
    
    }
    #banner .banner_text{
       
     font-size: 28px;
      margin:-150px 500px 0px 0px ;

       
    }
    #section1{
        width: 100%;
        height: auto;
    }
    #section1 .title{ margin-top: 15%;  padding:0% 7%;}
    #section1 .brand{
        width: 100%;
        height: auto;
    }
    #section1 .brand_text{
        width:100%;
    }
 
    
    #section1 .in{
        padding:0% 7%;
    }
    #section1 .in2{
        padding:0% 7%;
    }
    #section1 .meet {
    width:100%;
    height: 380px;
    margin:0px 30px;
    margin-bottom: 15%;
    }
    
    #section1 .delivery{ 
        width: 100%;
        height: auto;
    }
    
    #section1 .delivery_img{
        margin:0% 3%;
    }
    #section1 .line2{
        margin:30% 0% 0% 70%;
    }
    #section1 .delivery_title{padding:0% 3%;}
    #section1 .delivery_in{ padding:0% 3%;}


    #section2{
        width: 100%;
        height:auto;
        margin-top:100px;
    }
    #section2 .review{
        width: 100%;
        height:100%;
        background-color: bisque;
        display: flex;
        
    }
    #section2 .review_img{
        background: url("../main_img/cutting.jpg")no-repeat;
        background-position: center;
        background-size: cover;
        width: 50%;
        height: auto;
        
    }
    #section2 .line3{
        width: 400px;
        border-bottom: 2px solid #ba2b31;
     
       
    }
    #section2 .review_text{
        background:url("../main_img/review_background.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        width: 50%;
        height: auto;
        padding:80px 60px;
        color:white;
        text-shadow: 0px 5px 0px 5px black;
       
    }
    
    
    
    #section2 .review_button{
        width: 150px;
        height: 35px;
        border:none;
        background-color: #ba2b31;
        color:#fff;
        cursor:pointer;
        font-size: 18px;
        transition: 0.5s ease;
        border-radius: 10px;
        margin:200px 0 0 0px;
    }
    #section2 .review_button:hover{
        background-color: #b60009;
        box-shadow: 1px 2px 15px  black;
    }
    #section2 .review_title{
        font-size: 50px;
    }
    
      #section2 .review_slide{
          display: inline-block;
          position: relative;
          width: 100%;
        
          font-size: 23px;
      }
      #section2 .review_slide p{position: absolute; width: 100%;height: auto; top:-30;}
      #section2 .review_slide p:not(:first-child){display: none;}
    
      #section2 .review_good{
        font-size: 25px;
      }
      
}