@charset "utf-8";
@media (min-width:769px ) and (max-width:1199px){
    header{
        width: 100%;
        height: auto;
        background-color: #ba2b31;
        position: fixed;
        z-index: 100;
    }
    
    .top{
        width:100%;
        height: 100px;
        display: inline;
    }
   
    .nav1{
    display: none;
    }
    .nav2{
       display: none;
    }
    .nav3 a{
        color:white;
        font-weight: bold;
        font-size:18px;
    }
    .sub3 a{font-size: 15px;}
    .nav3{display:none; text-align: center;}
    .ham{font-size: 40px; color:white;cursor: pointer; padding-right: 3%; display: block;}
    .ham_logo{width:100%;display: flex; justify-content: space-between;align-items: center;}
    .menu3{
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column wrap;
        margin-bottom: 3%;
    }
    .menu3 >li{padding:3% 3%; }
    .menu3>li:hover{background-color:#b60009;transition: ease 0.3s;}
    .sub3{display:none; background: black; line-height: 30px;}
    .sub3 a:hover{color:#ba2b31;transition: ease 0.3s;}
    
    #banner{
        width: 100%;
        height: auto;
    }
    #banner .banner_img{
      width:100%;
        height:800px;
        background: url("../main_img/slide_banner2.jpg") no-repeat center;
        background-position: center;
        background-size: cover;
        margin:0 auto;
        display: flex;
        align-items:center;
        justify-content: space-evenly;
    
    }
    #banner .banner_text{
       
     font-size: 28px;
      margin:-150px 500px 0px 0px ;

       
    }
    #section1{
        width: 100%;
        height: auto;
    }
    #section1 .title{ margin-top: 15%;  padding:0% 7%;}
    #section1 .brand{
        width: 100%;
        height: auto;
    }
    #section1 .brand_text{
        width:100%;
    }
 
    
    #section1 .in{
        padding:0% 7%;
    }
    #section1 .in2{
        padding:0% 7%;
    }
    #section1 .meet {
    width:100%;
    height: 380px;
    margin:0px 30px;
    margin-bottom: 15%;
    }
    
    #section1 .delivery{ 
        width: 100%;
        height: auto;
    }
    
    #section1 .delivery_img{
        margin:0% 3%;
    }
    #section1 .line2{
        margin:30% 0% 0% 70%;
    }
    #section1 .delivery_title{padding:0% 3%;}
    #section1 .delivery_in{ padding:0% 3%;}


    #section2{
        width: 100%;
        height:auto;
        margin-top:100px;
    }
    #section2 .review{
        width: 100%;
        height:auto;
        background-color: bisque;
        display: flex;
        
    }
    #section2 .review_img{
        background: url("../main_img/cutting.jpg")no-repeat;
        background-position: center;
        background-size: cover;
        width: 50%;
        height: auto;
        
    }
    #section2 .line3{
        width: 400px;
        border-bottom: 2px solid #ba2b31;
     
       
    }
    #section2 .review_text{
        background:url("../main_img/review_background.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        width: 50%;
        height: auto;
        padding:80px 60px;
        color:white;
        text-shadow: 0px 5px 5px black;
       
    }
    
    
    
    #section2 .review_button{
        width: 150px;
        height: 35px;
        border:none;
        background-color: #ba2b31;
        color:#fff;
        cursor:pointer;
        font-size: 18px;
        transition: 0.5s ease;
        border-radius: 10px;
        margin-top:35%;
    }
    #section2 .review_button:hover{
        background-color: #b60009;
        box-shadow: 1px 2px 15px  black;
    }
    #section2 .review_title{
        font-size: 50px;
    }
    
      #section2 .review_slide{
          display: inline-block;
          position: relative;
          width: 100%;
        
          font-size: 15px;
      }
      #section2 .review_slide p{position: absolute; width: 100%;height: auto;}
      #section2 .review_slide p:not(:first-child){display: none;}
    
      #section2 .review_good{
        font-size: 25px;
      }
      #section3{
        width:100%;
        height: auto;
    }
    #section3 .lunch{
        width: 100%;
        height: auto;
    }
   .lunch_line3{  width:80%;
    border-bottom: 2px solid #ba2b31;}
    #section3 .lunch_text{
      padding:0% 3%;
    }
   #section3 .wine{
       width: 100%;
      padding: 10% 0%;
   }
   #section3 .wine_img{
       width: 500px;
       height: 400px;
       margin:0% 3%;
   }
  
   #section3 .wine_text{
    padding:0% 3%;
   }
   #section3 .wine_line{
      display: none;
   }
   #section4{
    width: 100%;
}
#section4 .steak_fade{
    width: 100%;
}
#section4 .steak_menu{
    width: 25vw;
    height: 50vh;
    margin-top:10%;
    margin-left: 3%;
}


#section4 .logo_black img{
    width: 25vw;
}


#section4 .steak_type{
    width: 60vw;
    height: 82vh;
    position: relative;
    margin-right: 3%;
 
  
}

#section4 .steak_tbone_img{
 
  width: 55vw;
    height: 45vh;
   position: absolute;
   top:0;
   bottom:0;
   left: 0;
   right: 0;

}
#section4 .tbone_text{
  margin-top:500px;
   
}
#section4 .steak_tomahawk_img{
  
    width: 55vw;
    height: 45vh;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
}
#section4 .steak_blacklabel{
    display: none;
}
#section4 .steak_blacklabel_img{
   
    width: 55vw;
    height: 45vh;
   position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;

}
#section4 .steak_fa{
    display: none;
}
#section4 .steak_fa_img{
    width: 55vw;
    height: 45vh;
   position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
}
#section5{
    width: 100%;
}
#section5 .chef_title{text-align: center; font-size: 50px;}
#section5 .chef_seat{
    width: 100%;
    height: auto;
    margin:0 auto;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
#section5 .chef{
    width:27vw;
    height: 27vh;
}


  #section5 .icon{
      width: 8vw;
  }

  #section6{
    width: 100%;
   
}

#section6 .outback_news{
    width:100%;
    height:530px;
}
#section6 .news_title{text-align: center;font-size: 50px;}
#section6 .insider{
    width:30vw;
    height:50vh;
}
#section6 .first_img{
    height: 28vh;
}
#section6 .second_img{
    height: 28vh;
}
#section6 .third_img{
    height: 28vh;
}
#section6 .fourth_img{
    height: 28vh;
}
#section6 .fifth_img{
    height: 28vh;
}
#section6 .sixth_img{
    height: 28vh;
}
#section6 .outback_news_text{
    font-size: 18px;
    padding:20px 20px;
    margin-bottom: 3%;
    line-height: 30px;
    color:white;
    text-align: center;
     cursor: pointer;
    
}
#section6 .outback_news_text:hover{
    color:#ba2b31
}
#section6 .outback_news_line{
    border-bottom: #fff solid 2px;
   margin:10px 0px;
}
footer{width: 100%; background: url("../main_img/review_background.jpg")no-repeat; background-position: center;background-size: cover; border-bottom: 5px solid #ba2b31;}

   .footer_in{margin:0 auto;width: 100%;  }
   .footer_img{width: 200px; }
   .footer_img img{width: 100%; }
   .footer_nav{  padding:0%3%; }
   .contact_us{ padding:0% 3%;}
   .time{ padding:0% 3%;}
   .gather{font-size: 15px;}
   .footernav_text_li{font-size: 15px;}
.footertime_text_li{font-size: 15px; margin-bottom: 5%}
  

 
 .footer_last{  padding:20px 50px;}

}