@charset "utf-8";
#banner .banner_img{
    max-width:1920px;
      height: 700px;
      background: url("https://www.wallpapertip.com/wmimgs/94-943777_wonderful-restaurant-wallpaper.jpg") no-repeat center;
      background-position: center;
      background-size: cover;
      margin:0 auto;
      display: flex;
      align-items:center;
      justify-content: space-evenly;

  }
  #banner .banner_text2{
   border-bottom: 8px solid #fff;
   box-shadow:0px 4px 4px -4px black ;
    font-size: 80px;
    font-weight: bold;
    color:#fff;
    margin:0;
   text-shadow: 0px 5px  5px black;
  }
#bigbox{width: 100%; height: 4800px; }
.contain{width: 1200px; height: 4800px;margin:0 auto;display: flex; justify-content: space-between; }
.left{width: 700px; height: 2000px; margin-top: 100px;}
.right{width: 400px; height:2000px;margin-top: 100px;}
.middle_line{height: 4600px;border:1px solid #ba2b3294; margin:100px 0px;}

.news1{width: 700px;height: 700px; border-radius: 50px;box-shadow: -2px 0px 20px; }
.news1_img{background: url("../main_img/news1.jpg") no-repeat;background-position: center;background-size: cover;
            width: 100%;height: 500px; border-radius: 50px 50px 0px 0px;
}
.left_news{margin-bottom: 50px;}
.newstext{padding:10px 30px; }
.date{color:#ba2b31}
.in{font-size: 23px; cursor:pointer;}
.more{color:#ba2b31; font-size: 18px; font-weight: bold; cursor: pointer;}
.more:hover{text-decoration: underline;}

.news2{width: 700px;height: 700px; border-radius: 50px;box-shadow: -2px 0px 20px; }
.news2_img{background: url("../main_img/news2.jpg") no-repeat;background-position: center;background-size: cover;
            width: 100%;height: 500px; border-radius: 50px 50px 0px 0px;}

.news3{width: 700px;height: 700px; border-radius: 50px;box-shadow: -2px 0px 20px; }
.news3_img{background: url("../main_img/news3.jpg") no-repeat;background-position: center;background-size: cover;
            width: 100%;height: 500px; border-radius: 50px 50px 0px 0px;}

.news4{width: 700px;height: 700px; border-radius: 50px;box-shadow: -2px 0px 20px; }
.news4_img{background: url("../main_img/news4.jpg") no-repeat;background-position: center;background-size: cover;
            width: 100%;height: 500px; border-radius: 50px 50px 0px 0px;}

.news5{width: 700px;height: 700px; border-radius: 50px;box-shadow: -2px 0px 20px; }
.news5_img{background: url("../main_img/news5.jpg") no-repeat;background-position: center;background-size: cover;
                        width: 100%;height: 500px; border-radius: 50px 50px 0px 0px;}

.news6{width: 700px;height: 700px; border-radius: 50px;box-shadow: -2px 0px 20px; }
.news6_img{background: url("../main_img/news6.jpg") no-repeat;background-position: center;background-size: cover;
                                                width: 100%;height: 500px; border-radius: 50px 50px 0px 0px;
}       

.searchbar{position:relative; overflow: hidden; width: 300px; }

input[type=search]{width: 300px; height: 50px; border-radius: 20px; padding:0px 20px; border:3px solid #ba2b31;outline: none;}
input[type=search]:hover{border:3px solid #ba2b31;outline: none;}
input[type=search]:focus{border:3px solid #ba2b31;outline: none;}
input[type=search]:active{border:3px solid #ba2b31; outline: none;}
.search_icon{position: absolute;  cursor: pointer; left:250px;    bottom: 15px;color:#ba2b31;}

.categories{margin-top: 100px;}
.categories li{ margin-bottom: 30px; color:#ba2b31; font-size: 18px;  cursor: pointer;}
.categories li:hover{text-decoration: underline #ba2b31;}
.recent{margin-top: 100px;}
.recent .post{width: 400px; height: 400px; }
.recent .postin{width: 400px;height: 100px;display: flex;justify-content: space-evenly;align-items: center; margin-bottom: 30px;}
.recent .first_post_text{width:280px;}
.recent .first_post_img{background: url("../main_img/news1.jpg") no-repeat;
                        background-position: center; background-size: cover;
                        height: 100px; width: 100px; border-radius: 20px;
}
.recent .first_post_text p{color:#ba2b31;}
.recent .second_post_img{background: url("../main_img/news2.jpg") no-repeat;
  background-position: center; background-size: cover;
  height: 100px; width: 100px; border-radius: 20px;
}
.recent .third_post_img{background: url("../main_img/news3.jpg") no-repeat;
  background-position: center; background-size: cover;
  height: 100px; width: 100px; border-radius: 20px;
}
.tag{margin-top: 100px;}
.tag .collection{width: 300px; display: flex; flex-flow: wrap;}
.tag .collection a{font-size: 16px;color:#ba2b31; background-color: #e9454d1a;
                 margin:5px;padding:6px 15px; border-radius: 5px;font-style: italic;
}
.tag .collection a:hover{background-color: #ba2b31; color:white; transition: all 0.5s ease;}

.happy{background: url("https://cdn.notefolio.net/img/ed/a9/eda9ea99e4d0a1281979a9931e8c9a4dfc006fa78f330b62c8b4f541a1a42226_v1.jpg") no-repeat;
  padding:20px 20px;        background-position: center;background-size: cover; width: 300px;height: 500px; margin-top: 100px; border-radius: 20px;
}

.hour{width: 300px;height: 500px; background-color:rgba(255, 255, 255, 0.767);
      display: flex; flex-flow: column; justify-content: center;align-items: center;border-radius: 20px;
}
.hour>h1{font-size: 45px; margin:0;}
.hour >p{font-size: 20px; font-weight: bold; line-height: 40px;}
.hour >button{border:none;width: 250px; height: 60px; background-color: #ba2b31;color:#fff;font-size: 18px;cursor: pointer;border-radius: 20px;}

.left_right >ul{width: 300px; display: flex; justify-content: space-evenly;margin:0 auto;}
.left_right >ul li{font-size: 25px; cursor:pointer; width: 30px ; height: 30px;text-align: center; border-radius: 5px;}
.left_right .left2:hover{color:#ba2b31;transition: all 0.5s ease;}
.left_right .number:hover{background-color: #ba2b31;color:#fff;transition: all 0.5s ease;}