@charset "utf-8";
#banner .banner_img{
    max-width:1920px;
      height: 600px;
      background: url("https://www.wallpapertip.com/wmimgs/98-987968_click-save-computer-desktop-wallpaper-data-src-trendy.jpg") no-repeat center;
      background-position: center;
      background-size: cover;
      margin:0 auto;
      display: flex;
      align-items:center;
      justify-content: space-evenly;
  
  }
  #banner .banner_text{
   border-bottom: 8px solid #fff;
   box-shadow:0px 4px 4px -4px black ;
    font-size: 80px;
    font-weight: bold;
    color:#fff;
    margin:0;
   text-shadow: 0px 5px  5px black;
  }
#bigbox{width: 100%; height: 4800px; }
.contain{width: 1200px; height: 4800px;margin:0 auto;display: flex; justify-content: space-between; }
.left{width: 700px; height: 2000px; margin-top: 100px;}
.right{width: 400px; height:2000px;background-color:chocolate;}
.middle_line{height: 4600px;border:1px solid #ba2b31; margin:100px 0px;}

.news1{width: 700px;height: 700px; border-radius: 50px;box-shadow: -2px 0px 20px; }
.news1_img{background: url("../main_img/news1.jpg") no-repeat;background-position: center;background-size: cover;
            width: 100%;height: 500px; border-radius: 50px 50px 0px 0px;
}
.left_news{margin-bottom: 50px;}
.newstext{padding:10px 30px;}
.date{color:#ba2b31}
.in{font-size: 23px;}
.more{color:#ba2b31; font-size: 18px; font-weight: bold; cursor: pointer;}
.more:hover{text-decoration: underline;}

.news2{width: 700px;height: 700px; border-radius: 50px;box-shadow: -2px 0px 20px; }
.news2_img{background: url("../main_img/news2.jpg") no-repeat;background-position: center;background-size: cover;
            width: 100%;height: 500px; border-radius: 50px 50px 0px 0px;}

.news3{width: 700px;height: 700px; border-radius: 50px;box-shadow: -2px 0px 20px; }
.news3_img{background: url("../main_img/news3.jpg") no-repeat;background-position: center;background-size: cover;
            width: 100%;height: 500px; border-radius: 50px 50px 0px 0px;}

.news4{width: 700px;height: 700px; border-radius: 50px;box-shadow: -2px 0px 20px; }
.news4_img{background: url("../main_img/news4.jpg") no-repeat;background-position: center;background-size: cover;
            width: 100%;height: 500px; border-radius: 50px 50px 0px 0px;}

.news5{width: 700px;height: 700px; border-radius: 50px;box-shadow: -2px 0px 20px; }
.news5_img{background: url("../main_img/news5.jpg") no-repeat;background-position: center;background-size: cover;
                        width: 100%;height: 500px; border-radius: 50px 50px 0px 0px;}

.news6{width: 700px;height: 700px; border-radius: 50px;box-shadow: -2px 0px 20px; }
.news6_img{background: url("../main_img/news6.jpg") no-repeat;background-position: center;background-size: cover;
                                                width: 100%;height: 500px; border-radius: 50px 50px 0px 0px;}       
            